<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>programs.TestScripts</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC6_list</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Tc1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC8_Alert</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC5_AllLinks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC12_IRCTC_alert</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC3_textbox_radioButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestCase2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC9_Facebook_MN_EMID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC7_multipleWindow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC11_Actions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC10_WebTable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TC4_dropdown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>startReport</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>initializer</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>endReport</td>
<td>&nbsp;</td></tr>
</table>
