<h2>Methods that were not run</h2><table>
<tr><td>programs.TestScripts.TC10_WebTable</td></tr>
<tr><td>programs.TestScripts.TC9_Facebook_MN_EMID</td></tr>
<tr><td>programs.TestScripts.TC7_multipleWindow</td></tr>
<tr><td>programs.TestScripts.TC11_Actions</td></tr>
<tr><td>programs.TestScripts.TestCase2</td></tr>
<tr><td>programs.TestScripts.TC4_dropdown</td></tr>
<tr><td>programs.TestScripts.TC6_list</td></tr>
<tr><td>programs.TestScripts.TC5_AllLinks</td></tr>
<tr><td>programs.TestScripts.TC12_IRCTC_alert</td></tr>
<tr><td>programs.TestScripts.TC8_Alert</td></tr>
<tr><td>programs.TestScripts.TC3_textbox_radioButton</td></tr>
</table>