<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70f470">  <td>21/06/19 19:11:00</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.getLogger()[pri:0, instance:programs.TestScripts@33990a0c]">&gt;&gt;getLogger</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2077528955</td>   <td></td> </tr>
<tr bgcolor="70f470">  <td>21/06/19 19:11:00</td>   <td>36</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.startReport()[pri:0, instance:programs.TestScripts@33990a0c]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2077528955</td>   <td></td> </tr>
<tr bgcolor="70f470">  <td>21/06/19 19:11:00</td>   <td>439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializer()[pri:0, instance:programs.TestScripts@33990a0c]">&gt;&gt;initializer</td> 
<td>&nbsp;</td>  <td>main@2077528955</td>   <td></td> </tr>
<tr bgcolor="91ef70">  <td>21/06/19 19:11:22</td>   <td>21570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScripts.Tc1()[pri:0, instance:programs.TestScripts@33990a0c]">Tc1</td> 
  <td>main@2077528955</td>   <td></td> </tr>
<tr bgcolor="70f470">  <td>21/06/19 19:11:26</td>   <td>25816</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.endReport()[pri:0, instance:programs.TestScripts@33990a0c]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2077528955</td>   <td></td> </tr>
</table>
