<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7bddad">  <td>21/06/19 19:13:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScripts.TC10_WebTable()[pri:0, instance:programs.TestScripts@446293d]">TC10_WebTable</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="7bddad">  <td>21/06/19 19:13:25</td>   <td>4768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScripts.TC11_Actions()[pri:0, instance:programs.TestScripts@446293d]">TC11_Actions</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="7bddad">  <td>21/06/19 19:14:08</td>   <td>47542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScripts.TC7_multipleWindow()[pri:0, instance:programs.TestScripts@446293d]">TC7_multipleWindow</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="7bddad">  <td>21/06/19 19:14:21</td>   <td>60753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScripts.TC8_Alert()[pri:0, instance:programs.TestScripts@446293d]">TC8_Alert</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="7bddad">  <td>21/06/19 19:14:26</td>   <td>66466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestScripts.Tc1()[pri:0, instance:programs.TestScripts@446293d]">Tc1</td> 
  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="62fc7d">  <td>21/06/19 19:14:33</td>   <td>72763</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.endReport()[pri:0, instance:programs.TestScripts@446293d]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="62fc7d">  <td>21/06/19 19:13:17</td>   <td>-3066</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.getLogger()[pri:0, instance:programs.TestScripts@446293d]">&gt;&gt;getLogger</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="62fc7d">  <td>21/06/19 19:13:17</td>   <td>-2652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializer()[pri:0, instance:programs.TestScripts@446293d]">&gt;&gt;initializer</td> 
<td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="62fc7d">  <td>21/06/19 19:13:23</td>   <td>3099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializer()[pri:0, instance:programs.TestScripts@446293d]">&gt;&gt;initializer</td> 
<td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="62fc7d">  <td>21/06/19 19:14:06</td>   <td>45860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializer()[pri:0, instance:programs.TestScripts@446293d]">&gt;&gt;initializer</td> 
<td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="62fc7d">  <td>21/06/19 19:14:19</td>   <td>58889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializer()[pri:0, instance:programs.TestScripts@446293d]">&gt;&gt;initializer</td> 
<td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="62fc7d">  <td>21/06/19 19:14:25</td>   <td>64953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.initializer()[pri:0, instance:programs.TestScripts@446293d]">&gt;&gt;initializer</td> 
<td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
<tr bgcolor="62fc7d">  <td>21/06/19 19:13:17</td>   <td>-3035</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.startReport()[pri:0, instance:programs.TestScripts@446293d]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@257608605</td>   <td></td> </tr>
</table>
